body{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@media (min-width: 576px) {
    .dropdown-menu {
        display: block;
        opacity: 0;
        transition: all 0.2s;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 1;
    }
}

.nav-link{
    position: relative;
}
.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color:red;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-link:hover::after{
    opacity: 1;
}
 
/** navbar the border is still on **/
 .navbar .navbar-toggler {
  border: 0;
}

/** modal**/

  @media (min-width: 576px){
    .modal-dialog {
      max-width: 400px;
      
      .modal-content {
        padding: 1rem;
      }
    }
  }
  
  .modal-header {
    .close {
      margin-top: -1.5rem;
    }
  }
  
  .form-title {
    margin: -2rem 0rem 2rem;
  }
  
  .btn-round {
    border-radius: 3rem;
  }
  
  .delimiter {
    padding: 1rem;  
  }
  
  .social-buttons {
    .btn {
      margin: 0 0.5rem 1rem;
    }
  }
  
  .signup-section {
    padding: 0.3rem 0rem;
  }

  .carousel-inner{
    position: relative;
    left: 8vw;
  }

  .carousel-control-prev-icon{
    position: relative;
    background-color: blue;
  }

  .carousel-control-next-icon{
    position: relative;
    background-color: blue;
  }
  .quotes-container{
  
  }
   /* this didn't work so am going to use html */
  .events-container {
    align-content:center; 
  }
  .footer-container{
  
  }